.container {
    display: grid;
    border: 2px solid red;
    height: 500px;
    width: 500px;
}

.altEleman {
    background-color: none;
    display: grid;
    border: 0.5px solid rgba(0, 0, 0, 0.132);
    user-select: none;  /* KULLANICININ BASILI TUTUP ÇEKMESİNİ ENGELLER */
}

